# Python
__pycache__/
*.pyc
*.pyo

# Build artifacts
dist/
build/
*.egg-info/

# Virtual environments
venv/
build_env/
testpypi_env/
fresh_env/
prod_test/
.venv/

# Secrets
.env
.pypirc

# Packaging
*.egg
.eggs/

# Coverage/testing
.pytest_cache/
.coverage
htmlcov/

# macOS
.DS_Store